---
page_title: "mackerel_alert_group_setting Resource - {{.ProviderName}}"
subcategory: "Alerts"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# mackerel_alert_group_setting (Resource)

{{ .Description | trimspace }}
{{ if .HasExample -}}

## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}
