---
page_title: "mackerel_monitor Resource - {{.ProviderName}}"
subcategory: "Monitors"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# mackerel_monitor (Resource)

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}
