---
layout: ""
page_title: "Provider: Mackerel"
description: |-
  The terraform provider for mackerel.io
---

# Mackerel Provider

The Mackerel provider provides resources to interact with a Mackerel API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

