---
name: pull request test

"on":
  pull_request:

jobs:
  pull-request-test:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        framework: ['0', '1']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.3"
      - run: make test
        env:
          TF_ACC: 1
          MACKEREL_API_KEY: ${{ secrets.MACKEREL_API_KEY }}
          MACKEREL_EXPERIMENTAL_TFFRAMEWORK: ${{ matrix.framework }}
          EXTERNAL_ID: ${{ secrets.EXTERNAL_ID }}
          AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
